@page "/Cashier_Console"
<h3>Cashier_Console</h3>

<div class="row">
    <div class="col-4">
        <SelectProductForSellComponent OnProductSelected="SelectProduct"></SelectProductForSellComponent>
        <SellProductComponent SelectedProduct="selectedProduct" OnProductSold="SellProduct"></SellProductComponent>
    </div>
    <div class="col">
        PlaceHolder
    </div>
</div>

@code {
    private Product selectedProduct;

    private void SelectProduct(Product product)
    {
        selectedProduct = product;
    }

    private void SellProduct()
    {
        
    }

}