@page "/categories"
@inject IViewCategoriesUseCases ViewCategoriesUseCases
@inject IDeleteCategoryByIdUseCase DeleteCategoryById
@inject NavigationManager NavigationManager

<h3>Manage Categories</h3>

@if (_categories != null)
{
    <table class="table ">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        
        @foreach (var category in _categories)
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.Description</td>
                <td><button type="button" @onclick="@(() =>EditCategory(category))" class="btn btn-link" >Edit</button></td>
                <td><button type="button" @onclick="@(() =>DeleteCategory(category.CategoryId))" class="btn btn-danger" >Delete</button></td>
            </tr>
        }
        </tbody>
    </table>
}
<br>
<button class="btn btn-info" @onclick="OnAddBtnClicked">Add Category</button>
@code {
    private List<Category>? _categories;

    protected override void OnInitialized()
    {
        base.OnInitialized();  
        LoadCategories();
    }

    private void OnAddBtnClicked()
    {
        NavigationManager.NavigateTo("addCategory");
    }

    private void EditCategory(Category category)
    {
        NavigationManager.NavigateTo($"EditCategory/{category.CategoryId}");
    } 
    private void DeleteCategory(int categoryId)
    {
        DeleteCategoryById.Delete(categoryId);
        LoadCategories();
    }

    private void LoadCategories()
    {
        _categories = ViewCategoriesUseCases.Execute()?.ToList();
    }
}